@import "tailwindcss";

* {
  color: var(--text-primary);
  transition: color 0.3s ease;
}

html {
  transition: background-color 0.3s ease;
}

body {
  background: var(--bg-primary);
}

:root,
[data-theme="light"] {
  --bg-primary: #ffffff;
  --bg-secondary: #f7f7f7;
  --text-primary: #111111;
  --text-secondary: #333333;
  --border: #d4d4d4;
  --accent: #c40000;
  --header-height: 70px;
  --footer-height: 80px;
  --logo-height: 60px;
  transition:
    background-color 1.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

[data-theme="dark"] {
  --bg-primary: #000000;
  --bg-secondary: #111111;
  --text-primary: #ffffff;
  --text-secondary: #cccccc;
  --border: #333333;
  transition:
    background-color 1.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

[data-theme="dark"] {
  --bg-primary: #1a1919;
  --bg-secondary: #111111;
  --text-primary: #ffffff;
  --text-secondary: #cccccc;
  --border: #333333;
}

.theme-toggle {
  padding-left: 9px;
  background: white;
  border: 1px solid var(--border);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  top: 18px;
  right: 70%;
  color: var(--text-primary);
  transition: border-color 0.2s ease;
  
}


@media (max-width: 640px) {
  :root {
    --header-height: 16vh;
    --footer-height: 12vh;
    --logo-height: 10vh;
  }
}

@media (max-width: 640px) {
  :root {
    --header-height: 12vh;
    --footer-height: 12vh;
    --logo-height: 10vh;
  }
}

@media (min-width: 641px) {
  .cookie-banner {
    flex-direction: row;
    align-items: center;
    padding: 20px 32px;
  }
}

/* Scrollbar styling */
.app-main {
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.app-main {
  overflow-x: visible;
}
.app-main::-webkit-scrollbar-track {
  background: transparent;
}
.app-main::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}




[data-count="0"] {
  display: none;
}
