@import "tailwindcss";

:root {
  --header-height: 70px;
  --footer-height: 80px;
  --logo-height: 60px;
}

@media (max-width: 640px) {
  :root {
    --header-height: 16vh;
    --footer-height: 12vh;
    --logo-height: 10vh;
  }
}

@media (max-width: 640px) {
  :root {
    --header-height: 12vh;
    --footer-height: 12vh;
    --logo-height: 10vh;
  }
}

@media (min-width: 641px) {
  .cookie-banner {
    flex-direction: row;
    align-items: center;
    padding: 20px 32px;
  }
}

/* Scrollbar styling */
.app-main {
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.app-main::-webkit-scrollbar {
  width: 6px;
}
.app-main::-webkit-scrollbar-track {
  background: transparent;
}
.app-main::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

[data-count="0"] {
  display: none;
}